<%= @listSize.inspect %>

<%= @properties.inspect %>

<h3>properties = [</h3>
<% @propertiesArray.each do |property| %>
  {
  property_id: <%= @roperty.property_id %>,
  name: <%= property.name %>,
  email: <%= property.email %>,
  },
<% end %>
<h3>]</h3>

